*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(06, 06, 06), rgb(12, 12, 12), rgb(18, 18, 18), rgb(24, 24, 24), rgb(38, 38, 38));
    height: 100%;
    width: 100vw;
}



.content .figure img {
    width: 20rem;
    height: 10rem;
}



@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem ;
    }
}

